.modal-cart{
    width: 300px;
}
.modal-cart h6{
    padding: 10px;
    border-bottom: 1px solid gray;
}
.checkout-cart p{
    font-size: 1.5rem;
    font-weight: 500;
}
.full-cart{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width: 300px) and (max-width: 575px){
    .modal-cart{
        width: 250px;
    }
}
