.subbanner-col-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.position-relative h2{
    top: 20%;
    text-align: left;
    left: 5%;
    color: white;
}
.relative-radius, .relative-radius img{
    border-radius: 20px;
}