.order-card{
    box-shadow: 0 5px 10px gray;
    padding: 15px;
    height: 350px;
}

.order-info{
    height: 275px;
}

@media only screen and (max-width: 575px) {
    .order-card{
        height: auto;
    }
}
